*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grey-background {
    background-color: lightgray;
}

#canvas {
    width: 400px;
    height: 400px;

    background-color: brown;
}